.product {
  display: flex;
  flex-direction: column;
  color: black;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 20px;
  width: 300px;
  justify-content: space-between;
}

.product:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.product button {
  background-color: #56ff86;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

containerP {
  flex-direction: row;
  display: flex;
}

.containerProducts {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  margin-left: 10%;
}

@media screen and (max-width: 768px) {
  .containerProducts {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}
