.TextPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 45rem;
  margin: 0 auto;
}

.TextPage p {
  line-height: 1.5rem;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #e0e0e0;
  text-align: center;
  max-width: 800px;
}
